* {
  background-color: rgb(253, 251, 251);
  font-family: Roboto, sans-serif;
}

body {
  font-size: 16px;
  color: black;
  line-height: 1.2;
  margin: 0;
  margin-bottom: -20px;
}

/* I took all this navbar style from
https://www.w3schools.com/howto/howto_css_fixed_menu.asp
but with my preferences */

.header {
  overflow: hidden;
  background-color: rgb(22, 38, 46);
  padding-bottom: 129px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
}

#cabecalho {
  top: 0;
  overflow: 0;
  background-color: transparent;
  border-top: 7px solid transparent;
  border-left: 80px solid transparent;
  position: fixed;
}

#cabecalho h1 {
  font-size: 45px;
  font-weight: 700;
  background-color: transparent;
  color: rgb(219, 194, 207);
}

.header-right {
  float: right;
  background-color: rgb(22, 38, 46);
  margin: 40px 60px;
}

.header-right a {
  float: left;
  color: rgb(22, 38, 46);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin: 0 5px;
}

#active {
  background-color: rgb(60, 122, 137);
  color: white;
}

.header-right a:hover , #active:hover {
  background-color: rgb(219, 194, 207);
  color: rgb(46, 71, 86);
}


#main-content {
  margin-top: 129px;
}

/* LinkedIn button shape and colors */
#linkedin-but {
  float: right;
  color: white;
  padding: 8px;
  background-color: rgb(60, 122, 137);
  margin-right: 200px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

#linkedin-but:hover {
  background-color: rgb(219, 194, 207);
  color: rgb(46, 71, 86);
}

/* I tool this margin style from
https://www.maujor.com/tutorial/centralizando-com-css-um-guia-completo.php */

#minha_foto {
  width: 150px;
  margin: 0 auto;
  margin-left: 20%;
  border-radius: 8px;
}

#licoes_aprendidas , #licoes_a_aprender , aside {
  width: 300px;
  display: inline-block;
}

.lado-esquerdo , .lado-direito {
  width: 500px;
  display: inline-table;
}

table {
  border-collapse: collapse;
  margin: auto;
  color: rgb(22, 38, 46);
}

td , th {
  border: 1px solid;
  padding: 8px;
}

.dividers:nth-of-type( 1 ) {
  margin-top: 8px;
  background-color: rgb(219, 194, 207);
  color: rgb(22, 38, 46);
}

.dividers ol , .dividers li , .dividers ul , .dividers h2 , .dividers aside {
  background-color: rgb(219, 194, 207);
  padding-left: 12%;
}

.dividers ol , .dividers ul {
  padding-bottom: 20px;
}

.dividers:nth-of-type( 2 ) {
  background-color: rgb(159, 162, 178);
  color: rgb(22, 38, 46);
}

.dividers article , .dividers section , .dividers h3 , .dividers p , .dividers h4 {
  background-color: rgb(159, 162, 178);
  padding-left: 8%;
}

#rodape , #rodape p , #rodape a {
  text-align: center;
  width: 100%;
  background-color: rgb(22, 38, 46);
  color: rgb(219, 194, 207);
  padding: 1px 0;
}
