@font-face {
    font-family: 'univers-condensed';
    src: url(fonts/univers-condensed-bold.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
	text-align: center;
    background-color: #181818;
    color: #d9d9d9;
    padding-inline-start: 0px;
}

body {
	margin-left: 30px;
	margin-right: 30px;
}

h1 {
    font-family: 'univers-condensed';
    font-size: 40px;
}
h2, h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 6%;
}

strong, em {
    color: #f5cb5c;
}

ul {
    list-style: none;
}

.menu a {
    color: #f5cb5c;
}

.menu li {
    position: relative;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none; /*esconder os marcadores laterais, bolinhas laterais*/
    font-size: 18px;
}

img {
    margin: 20px;
    border-radius: 12%;
    padding: 10px;
    background-color: #cfdbd5;
}

ol {
	list-style: none;
}

div#photo img {
    float: left;
    margin-right: 50px;
}

div:nth-of-type(1), div:nth-of-type(2)  {
    display: inline;
}

div:nth-of-type(3) {
    display: block;
    margin-top: 10%;
}

